<div class="container">
    <div class="logo" [routerLink]="[ '' ]" routerLinkActive="route-active">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Flogo.svg?alt=media&token=bbe800cf-da84-4d9b-9fd9-2722a7a14064" alt="">
        <p>© 2024 Monosushi</p>
    </div>

    <div class="menu">
        <div class="up">
            <ul>
                <li [routerLink]="[ '/discount' ]" routerLinkActive="route-active">Акції на суші</li>
                <li [routerLink]="[ '/about' ]">Про нас</li>
                <li [routerLink]="[ '/oferta' ]">Оферта</li>
            </ul>
        </div>
        <div class="down">
            <div class="item">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fpay-card-img-1.svg?alt=media&token=087da9c8-9ae2-49ee-bc10-85090f47c8bb" alt="">
            </div>
            <div class="item">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fpay-card-img-2.svg?alt=media&token=f9a512d9-781b-4f76-9ff8-cbd9cf3a44fa" alt="">
            </div>
            <div class="item">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fpay-card-img-3.svg?alt=media&token=f3b89c2e-52de-4526-b260-0f58c809f2c7" alt="">
            </div>
        </div>
    </div>

    <div class="address">
        <div class="up">
            <p><b>Точки самовивозу</b></p>
            <p>вул. Володимира Великого, 10в</p>
            <p>вул. Чорновола, 95</p>
            <p>вул. Зелена 204б</p>
        </div>
        <div class="follow">
            <p>Слідкуйте за нами</p>
            <div class="logo">
                <div class="item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Ffacebook-icon.svg?alt=media&token=1640dce8-54ef-4040-a23d-51fcb14db0ec" alt="">
                </div>
                <div class="item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Finstagram-icon.svg?alt=media&token=636de2a6-f192-4705-9f24-4410bab0f8fa" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="phone">
        <p><b>Оформити замовлення</b></p>
        <p id="number">+380978780837</p>
    </div>

    <div class="shop">
        <div class="up">
            <p><b>Графік роботи</b></p>
            <p>працюємо з 11:00 до 22:30</p>
            
        </div>
    </div>
</div>