<div class="container">
    <p class="mainTitle">Зміна паролю</p>
    <form [formGroup]="passwordForm">
        <div class="form-group">
            <input type="text" class="inputForm" formControlName="name" placeholder="*Ваш поточний пароль">
        </div>
        <div class="form-group">
            <input type="text" class="inputForm" formControlName="phoneNumber" placeholder="*Новий пароль">
        </div>
        <div class="form-group">
            <input type="text" class="inputForm" formControlName="phoneNumber" placeholder="*Повторіть пароль">
        </div>
        <div class="butManage"> 
            <button   type="button" id="hoverBut" >Скасувати</button>
            <button  class="butForm" type="button" mat-dialog-close>Зберегти зміни</button>
        </div>
    </form>
</div>