<div class="container">
    <h1 id="name">Акції на суші</h1>
    <div class="discount-wrapper">
        <div class="discount" *ngFor="let discount of userDiscount">
            <img [src] = "discount.imagePath" alt="" class="discount-img">
            <div class="discountName">{{ discount.name }}</div>
            <hr>
            <button class="butMore">Дізнатися більше</button>
        </div>
    </div>
    <div class="text">
        <h1>Суші-акції у Львові</h1>
        <p>Мрієте смакувати суші, не переплачуючи? З Monosushi це можливо! Ми зібрали найвигідніші акційні суші у Львові
            у цьому розділі сайту. Ви можете легко ознайомитися з усіма спеціальними пропозиціями та замовити роли за
            привабливою ціною. А ще — отримати рол або цілий сет у подарунок!</p>
        <h1>Акційні суші, які вам точно сподобаються</h1>
        <p>Ми пропонуємо смачні та вигідні акції, які допоможуть смакувати ролами вигідно:</p>
        <ul>
            <li> 
                <span>Акція “Рол тижня”. Знижка 50% на один з ролів у нашому меню.</span>
            </li>
            <li>
                <span>3+1 = 5. Замовляйте 4 роли та отримуйте п’ятий абсолютно безкоштовно. Те, що треба на велику
                    компанію.</span>
            </li>
            <li>
                <span>День народження з Моносуші. Отримайте “Запечений сет” у подарунок, якщо сьогодні святкуєте день
                    народження.</span>
            </li>
            <li>
                <span>Акція на самовивіз. Якщо ви забираєте суші самостійно, отримайте запечені моно макі у
                    подарунок.</span>
            </li>
            <li>
                <span>Фотомарафон — розіграш ролів за контент зі згадкою Monosushi в соціальних мережах.</span>
            </li>
        </ul>
        <h1>Доставка суші по акції у Львові: правила від Monosushi</h1>
        <p>
            Більшість наших акцій не сумуються між собою, а також доступні при замовленні суші на певну суму.
            Ознайомитися з правилами та умовами кожної акції можна, натиснувши “Дізнатися більше”. Також наші менеджери
            із задоволенням проконсультують вас акцій на суші у Львові.
            <br><br>
            Швидка доставка акційних суші, неповторний смак, аромат та гарна подача гарантовані. Адже ми — справжні
            перфекціоністи, які дуже уважні до дрібниць. Готуємо роли з добірних продуктів, стежимо за дотриманням усіх
            тонкощів кулінарного процесу. На нашій кухні стерильно, а наші рецепти — досконалі.
            <br><br>
            Скоріш оформляйте замовлення та смакуйте улюблені роли вигідно з Monosushi!
        </p>


    </div>
</div>