@import "../../shared/styles/base";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.container {
    width: 80%;
    margin: auto;

    #name {
        @include box(350px, 50px);
        @include text(55px, sans-serif, bold);
        margin: 50px auto;
        text-align: center;
        border-top: 6px solid $base-color;

    }

    .text {
        width: 80%;
        min-height: 100px;
        margin: 40px auto;

        h1 {
            @include text(64px, sans-serif, bold);
            margin: 20px 0;
        }

        p {
            @include text(30px, sans-serif, normal);
            margin: 10px 0;
            line-height: 40px;
            text-align: justify
        }

        ul li {
            @include text(30px, sans-serif, normal);
            margin: 10px 50px;
            line-height: 40px;
            color: $base-color;
            text-align: justify
        }

        ul li span {
            @include text(30px, sans-serif, normal);
            line-height: 40px;
            color: black;
        }

        h2 {
            @include text(44px, sans-serif, bold);
            margin: 20px 0;
        }
    }

    .discount-wrapper {
        width: 100%;
        min-height: 100px;
        @include flex-row(flex, row, center, center);
        flex-wrap: wrap;

        .discount {
            @include box(45%, 700px);
            @include flex-row(flex, column, space-between, center);

            margin: 20px;

            .discount-img {
                width: 100%;
                border-radius: 30px;
            }

            .discountName {
                @include box(100%, 70px);
                margin-top: 40px;
                margin-bottom: 40px;
                @include text(30px, sans-serif, bold);
                text-align: center;
                line-height: 70px;
                transition: color 0.5s;

                &:hover{
                    color: $base-color;
                }
            }

            hr{
                @include box(100%, 5px);
                background-color: $base-color;
                border: none;
            }

            .butMore{
                @include box(40%, 70px);
                margin: 30px auto;
                border: 4px solid transparent;
                border-radius: 20px;
                background-color: $base-color;
                @include text(25px, sans-serif, bold);
                transition: background-color 0.5s, border 0.5s;

                &:hover{
                    background-color: white;
                    border: 4px solid $base-color;
                }

            }
        }
    }
}