@import "../../shared/styles/_base.scss";
@import "../../shared/styles/_mixins.scss";
@import "../../shared/styles/_variables.scss";

.container {
    @include box(100%, 120px);
    @include flex-row(flex, row, none, center);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    .logo {
        @include box(11%, 100%);
        @include flex-row(flex, row, center, center);
        background-color: $base-color;

        &:hover {
            cursor: pointer;

        }
    }

    .menu-user{
        @include box(330px, 375px);
        position: absolute;
        background-color: white;
        z-index: 2;
        top: -32px;
        left: -31px;
        padding-top: 90px;
        padding-left: 50px;
        @include flex-row(flex, column, space-around, start);
        border: 3px solid $base-color;

        .menu-user-punkt{
            @include text(18px, sans-serif, bold);
            @include box(80%, 40px);
            line-height: 40px;
            padding-left: 5px;
            text-align: start;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                border: 3px solid transparent;
                width: 0;
                height: 0;
                border-radius: 7px;
            }
    
            // Додали анімацію для лівого та нижнього бордерів
            &:hover::after {
                border-left-color: #b5d8f7;
                border-bottom-color: #b5d8f7;
                transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
    
            &:hover::before {
                top: 0;
                left: 0;
                border-top-color: #b5d8f7;
                border-right-color: #b5d8f7;
                transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
                width: 100%;
                height: 100%;
            }

        }
    }

    .menu {
        @include box(35%, 100%);
        @include flex-row(flex, row, space-around, center);
        position: relative;

        .item {
            @include box(15%, 75%);
            @include flex-row(flex, column, center, center);
            position: relative; // Додали для позиціонування псевдоелементів
            border: 3px solid transparent;
            border-radius: 10px;
            transition: 1s;
            text-transform: capitalize;
            text-align: center;
            vertical-align: baseline;

            &:hover {
                cursor: pointer;

            }

            img {
                @include box(47px, 47px);
            }

            .nameOfCategory {
                margin-top: 10px;
                @include text(18px, sans-serif, bold);
            }

            // Анімація з'явлення бордера змійкою
            &::before,
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                border: 3px solid transparent;
                width: 0;
                height: 0;
                border-radius: 7px;
            }

            // Додали анімацію для лівого та нижнього бордерів
            &:hover::after {
                border-left-color: #b5d8f7;
                border-bottom-color: #b5d8f7;
                transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            &:hover::before {
                top: 0;
                left: 0;
                border-top-color: #b5d8f7;
                border-right-color: #b5d8f7;
                transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
                width: 100%;
                height: 100%;
            }
        }

        .menuSmall {
            position: absolute;
            right: -165px;
            top: 0;
            z-index: 2;
            @include box(300px, 350px);
            border: 5px solid $base-color;
            background-color: white;
            border-radius: 20px;


            #close {
                @include box(300px, 300px);
                @include flex-row(flex, column, start, start);

                

                ul {
                    @include box(300px, 180px);
                    @include flex-row(flex, column, space-between, center);

                    li {
                        @include box(220px, 50px);
                        list-style: none;
                        @include text(20px, sans-serif, bold);
                        position: relative; // Додали для позиціонування псевдоелементів
                        border: 3px solid transparent;
                        border-radius: 10px;
                        transition: 1s;
                        text-align: left;
                        line-height: 50px;
                        padding-left: 10px;

                        &:hover {
                            cursor: pointer;

                        }

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            z-index: 2;
                            border: 3px solid transparent;
                            width: 0;
                            height: 0;
                            border-radius: 7px;
                        }

                        // Додали анімацію для лівого та нижнього бордерів
                        &:hover::after {
                            border-left-color: #b5d8f7;
                            border-bottom-color: #b5d8f7;
                            transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover::before {
                            top: 0;
                            left: 0;
                            border-top-color: #b5d8f7;
                            border-right-color: #b5d8f7;
                            transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

            }


        }
    }

    .call {
        margin-left: 60px;
        @include box(11%, 38%);
        border-radius: 10px;
        border: 4px solid transparent;
        @include flex-row(flex, row, space-around, center);
        background-color: $base-color;
        transition: border 0.3s, background-color 0.3s;

        &:hover {
            cursor: pointer;

        }

        .callText {
            @include text(18px, sans-serif, bold);
        }

        img {
            @include box(15px, 25px);
        }

        &:hover {
            border: 4px solid $base-color;
            background-color: white;
        }
    }

    .info {
        @include box(11%, 100%);
        margin-left: 60px;
        @include flex-row(flex, column, center, center);

        .numberOfPhone {
            @include text(20px, sans-serif, bold);
            transition: color 0.3s;

            &:hover {

                cursor: pointer;
                color: #b5d8f7;
            }
        }

        .table {
            @include text(16px, sans-serif, normal);
        }
    }

    .user {
        @include box(4%, 50%);
        margin-left: 100px;
        @include flex-row(flex, column, center, center);
        position: relative; // Додали для позиціонування псевдоелементів
        border: 3px solid transparent;
        border-radius: 10px;
        transition: 1s;
        text-transform: capitalize;
        text-align: center;
        vertical-align: baseline;

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            border: 3px solid transparent;
            width: 0;
            height: 0;
            border-radius: 7px;
        }

        // Додали анімацію для лівого та нижнього бордерів
        &:hover::after {
            border-left-color: #b5d8f7;
            border-bottom-color: #b5d8f7;
            transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &:hover::before {
            top: 0;
            left: 0;
            border-top-color: #b5d8f7;
            border-right-color: #b5d8f7;
            transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
            width: 100%;
            height: 100%;
        }

        &:hover {
            cursor: pointer;

        }

        img {
            @include box(40px, 40px);
        }
    }



    .basket {
        @include box(10%, 100%);
        @include flex-row(flex, row, center, center);
        margin-left: 190px;
        background-color: $base-color;

        &:hover {
            cursor: pointer;

        }

        .basket-img {
            position: relative;
            margin-right: 10px;

            img {
                @include box(57px, 57px);
            }

            .countElement {
                position: absolute;
                @include box(50px, 30px);
                right: -10px;
                border-radius: 20px;
                text-align: center;
                line-height: 30px;
                background-color: white;
            }

        }

        .pSum {
            @include text(20px, sans-serif, normal);
            padding: 5px 20px;
        }
    }

    .basket-info {
        width: 1150px;
        min-height: 400px;
        background-color: white;
        position: absolute;
        top: 120px;
        right: 0;
        max-height: 600px;
        z-index: 4;
        border-radius: 20px;

        .basket-option {
            @include box(100%, 200px);
            background-image: url('https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fbg-monosushi-logo.svg?alt=media&token=be357147-3cf8-41a9-b77d-b848fd893cc5');
            background-color: $base-color;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            @include flex-row(flex, row, space-between, center);
            padding-right: 50px;

            .basket-option-price {
                @include box(30%, 150px);
                @include text(30px, sans-serif, bold);
                line-height: 150px;
                align-self: center;
                text-align: start;
                padding-left: 20px;
            }

            .orderBut {
                @include box(35%, 85px);
                border-radius: 20px;
                background-color: white;
                border: 4px solid transparent;
                transition: background-color 0.5s, border 0.5s;
                @include text(25px, sans-serif, bold);

                &:hover {
                    background-color: transparent;
                    border: 4px solid white;

                }
            }
        }

        .basket-empty {
            @include box(100%, 300px);
            @include flex-row(flex, column, space-between, center);
            padding: 20px;

            .basket-empty-img {
                width: 15%;
            }

            .basket-empty-p {
                @include box(40%, 50px);
                @include text(25px, sans-serif, bold);
                text-align: center;
            }

            .goToMenu{
                @include box(35%, 85px);
                border-radius: 20px;
                background-image: url('https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fbg-monosushi-logo.svg?alt=media&token=be357147-3cf8-41a9-b77d-b848fd893cc5');
                background-color: $base-color;
                border: 4px solid transparent;
                transition: background-color 0.5s, border 0.5s;
                @include text(25px, sans-serif, bold);

                &:hover {
                    background-color: white;
                    border: 4px solid $base-color ;

                }
            }
        }

        .basket-wrapper {
            width: 100%;
            min-height: 200px;
            max-height: 400px;
            overflow-y: auto;

            .basket-item {
                width: 100%;
                overflow-y: auto;
                min-height: 200px;
                border-top: 2px solid lightgray;
                border-bottom: 2px solid lightgray;
                @include flex-row(flex, row, space-between, center);
                padding: 0 20px;


                .basket-img {
                    @include box(35%, 150px);
                }

                .basket-name {
                    @include box(30%, 150px);
                    @include text(18px, sans-serif, bold);
                    line-height: 150px;
                    align-self: center;
                    text-align: start;
                    padding-left: 20px;

                }

                .manageCount {
                    @include flex-row(flex, row, center, center);
                    align-items: center;
                    border: 1px solid lightgray;
                    border-radius: 20px;
                    @include box(15%, 60px);
                }

                .btnMinus,
                .btnAdd {
                    @include box(25%, 60px);
                    border: none;
                    @include text(18px, sans-serif, bold);
                    line-height: 60px;
                    background-color: transparent;
                }

                .countProduct {
                    @include box(25%, 60px);
                    border: none;
                    @include text(18px, sans-serif, bold);
                    line-height: 60px;
                    background-color: transparent;
                    text-align: center;
                }

                .basket-price {
                    @include box(10%, 150px);
                    @include text(18px, sans-serif, bold);
                    line-height: 150px;
                    align-self: center;
                    text-align: start;
                    padding-left: 20px;
                }

                .basket-delete {
                    width: 5%;
                }
            }
        }
    }

    #closeSpan {
        @include text(100px, sans-serif, normal);
        margin-top: 0px;
        text-align: center;
        transform: rotate(45deg);
        margin-left: 40px;
        position: relative;

        &:hover {
            cursor: pointer;
        }

       

    }

}
