<div class="container" >
    <div class="logo" [routerLink]="[ '' ]" routerLinkActive="route-active">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Flogo.svg?alt=media&token=bbe800cf-da84-4d9b-9fd9-2722a7a14064"
            alt="">
    </div>
    <div class="menu">
        <div class="item" [routerLink]="[ '/discount' ]" routerLinkActive="route-active">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fnav-img-gift.svg?alt=media&token=ee7541e3-3b6b-4ac1-8b96-32d26788237c"
                alt="">
            <p class="nameOfCategory">Акції</p>
        </div>
        <div class="item" [routerLink]="[ '/product/roli' ]" routerLinkActive="route-active">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fnav-img-rolls.svg?alt=media&token=7e11c8a7-0b1d-4fe9-9257-e281ca06c2ca"
                alt="">
            <p class="nameOfCategory">Роли</p>
        </div>
        <div class="item" [routerLink]="[ '/product/setu' ]" routerLinkActive="route-active">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fnav-img-sets.svg?alt=media&token=3c2d6fc1-931a-40f0-9992-d004926fd7d7"
                alt="">
            <p class="nameOfCategory">Сети</p>
        </div>
        <div class="item" [routerLink]="[ '/product/drinks' ]" routerLinkActive="route-active">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fnav-img-drinks.svg?alt=media&token=ea73815d-0af7-427a-8131-294708995ce9"
                alt="">
            <p class="nameOfCategory">Напої</p>
        </div>
        <div class="item" [routerLink]="[ '/product/sousi' ]" routerLinkActive="route-active">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fnav-img-sousi.svg?alt=media&token=d1454ce0-f48a-4dcc-9cce-4b37075d89e3"
                alt="">
            <p class="nameOfCategory">Соуси</p>
        </div>
        <div (click)="openMenu()" class="item">
            <img *ngIf="!menuOpen"
                src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2FHamburger_icon.svg.png?alt=media&token=b35633e4-c998-44c7-9e7f-500147d6529b"
                alt="">
        </div>
        <div *ngIf="menuOpen" class="menuSmall">
            <div id="close">
                <p (click)="closeMenu()" id="closeSpan">+</p>
                <ul>
                    <li (click)="closeMenu()" [routerLink]="[ '/delivery-payment' ]">Доставка та оплата</li>
                    <li (click)="closeMenu()" [routerLink]="[ '/about' ]">Про нас</li>
                    <li (click)="closeMenu()" [routerLink]="[ '/discount' ]">Акції на суші</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="call" (click)="openPhoneModal()">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fphone.svg?alt=media&token=4d348a8d-abf2-416d-8920-e1e1cb930164"
            alt="">
        <p class="callText">Ми зателефонуємо</p>
    </div>

    <div class="info">
        <p class="numberOfPhone">+380978780837</p>
        <p class="table" style="text-align: center;">Працюємо з <b>11:00</b> до <b>22:30</b></p>
    </div>

    <div class="user" (click)="openLoginDialog()" *ngIf="!isLogin">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fuser.svg?alt=media&token=44574384-593f-4b47-b04b-bad9ac0186b7"
            alt="">
    </div>

    <div class="user" *ngIf="isLogin" [routerLink]="[ '/'+loginUrl ]">
        <img *ngIf="!menuUserOpen" (click)="menuUser()" style="position: relative; z-index: 3;"
            src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fuser.svg?alt=media&token=44574384-593f-4b47-b04b-bad9ac0186b7"
            alt="">
        <p *ngIf="menuUserOpen" (click)="menuUser()" style="z-index: 3; margin-left: 0;" id="closeSpan">+</p>

        <div class="menu-user" (click)="menuUser()" *ngIf="menuUserOpen">
            <p class="menu-user-punkt" [routerLink]="[ '/cabinet/user-info' ]">Особисті дані</p>
            <p class="menu-user-punkt">Історія замовлень</p>
            <p class="menu-user-punkt">Зміна паролю</p>
            <p class="menu-user-punkt" (click)="logout()">Вихід</p>
        </div>
    </div>

    <div class="basket" (click)="openBasketModal()" >
        <div class="basket-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fbasket.svg?alt=media&token=b207a93a-c2ea-4dc6-88de-f7ddff1d6cf9"
                alt="">
            <span class="countElement">{{ total }}</span>
        </div>
        <p class="pSum"><b>0</b> грн</p>
 
    </div>

   
</div>