<div class="container">
    <h1 id="name">Доставка та оплата</h1>
    <div class="block">
        <div class="zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fmn-delivery-img%20(1).svg?alt=media&token=14d50e25-d317-4eeb-9a3e-71227e948698" alt="">
            <div class="zoneWrapper">
                <h2 style="color: #27ae60;" class="nameZone">Зелена зона</h2>
                <p class="zoneText">В межах зеленої зони ми доставляємо протягом <span
                        style="color: #27ae60; font-weight: bold;">1 год.</span></p>
                <p class="zoneText">Мінімальна сума замовлення в цю зону становить <span
                        style="color: #27ae60; font-weight: bold;"> 400 грн </span></p>
            </div>
        </div>
        <div class="zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fmn-delivery-img%20(1).svg?alt=media&token=14d50e25-d317-4eeb-9a3e-71227e948698" alt="">
            <div class="zoneWrapper">
                <h2 style="color: #f2c94c;" class="nameZone">Жовта зона</h2>
                <p class="zoneText">В межах жовтої зони ми доставляємо протягом <span
                        style="color: #f2c94c; font-weight: bold;">1.5 год.</span></p>
                <p class="zoneText">Мінімальна сума замовлення в цю зону становить <span
                        style="color: #f2c94c; font-weight: bold;"> 500 грн </span></p>
            </div>
        </div>
    </div>
    <div class="wrapper-map">
        <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.8914045160545!2d24.014141676023794!3d49.8632845294677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473addae674cfd1d%3A0xa8962158c408d4fc!2z0L_RgNC-0YHQv9C10LrRgiDQkifRj9GH0LXRgdC70LDQstCwINCn0L7RgNC90L7QstC-0LvQsCwgOTUsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1711072774076!5m2!1suk!2sua"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div>
        <p class="text">Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших
            стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.
        </p>
        <p class="text">Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо
            час доставки.
            Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год.
            В жовту зону, яка знаходиться значно далі – до 1,5 год.
        </p>
    </div>
    <h1 id="pay">Oплата</h1>

    <div class="block-payment">
        <div style="border-right: 1px solid #5a5a5a;" class="item-payment">
            <div class="background">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fpay-info-img-3.svg?alt=media&token=b4dbff72-d8f5-43aa-ad69-ba14497c31a0" alt="">
            </div>
            <div class="textPayment">
                <h2 class="namePayment">Оплата готівкою</h2>
                <p class="pPayment">Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
            </div>
        </div>
        <div class="item-payment">
            <div class="background">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fpay-info-img-1.svg?alt=media&token=f122b249-573f-434f-bcce-3168b9b84dca" alt="">
            </div>
            <div class="textPayment">
                <h2 class="namePayment">Безготівкова оплата</h2>
                <p class="pPayment">Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</p>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 150px;">
        <p class="text">Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж
            розрахунок карткою.
        </p>
        <p class="text">Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж
            повідомте про це оператора по телефону.</p>

        <p class="text">
            Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми
            щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».
        </p>
    </div>

</div>