@import "../../shared/styles/base";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.container{
    width: 80%;
    margin: auto;
    #name{
        @include box(220px, 50px);
        @include text(55px, sans-serif,bold);
        margin: 50px auto;
        text-align: center;
        border-top: 6px solid $base-color;

    }

    h2{
        @include box(1000px, 50px);
        @include text(55px, sans-serif,bold);
        margin-top: 50px;
    }

    h3{
        @include box(1000px, 50px);
        @include text(40px, sans-serif,bold);
        margin-top: 40px;
    }

    p{
        @include text(30px, sans-serif, normal);
        margin: 30px 0;
        line-height: 40px;
    }
}