<div class="container">
    <div class="slider">
        <div class="slider-container" [style.transform]="'translateX(' + offsetX + 'px)'">
            <div class="slide" *ngFor="let item of discountsImg; let i = index"><img [src]="item" alt=""></div>
        </div>
    </div>

    <div class="points">
        <div class="item" *ngFor="let item of countDiscount; let i = index" (click)="moveSlide(i)"
            [class.active]="activeSlideIndex === i">
        </div>
    </div>

    <div class="banner">
        <div class="banner-item">
            <img style="width: 180px; height: 180px;"
                src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=6a56e87a-e4de-456d-8794-0e07fc736175"
                alt="">
            <button id="zoneDelivery" [routerLink]="[ '/delivery-payment' ]">Зона доставки</button>
        </div>
        <div class="banner-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fmono-supermen.svg?alt=media&token=dc3d108f-fd8a-40a5-b190-97600b5a9a71"
                alt="">
            <p class="description">Середній час доставки в зеленій зоні <b>00:43:00</b></p>
        </div>
        <div class="banner-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-8418b.appspot.com/o/images%2Fmono-bonus.svg?alt=media&token=b41106cb-d031-4084-ab71-792ea0fa8fff"
                alt="">
            <p class="description">Наш графік роботи Працюємо з <b>11:00</b> до <b>22:30</b></p>
        </div>
    </div>

    <div class="menu-roli">
        <div class="menu-roli-punkts"  [ngClass]="{'menu-roli-punkts-active': selectedPathPart === null}" (click)="openAll()">
            Всі
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'filadelfiya'}" (click)="openFiladelfiya()">
            Роли Філадельфія
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'kaliforniya'}" (click)="openKaliforniya()">
            Роли Каліфорнія
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'zapechenyj'}" (click) = "openZapechenyj()">
            Запечені роли
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'firmovi'}" (click) = "openFirmovi()">
            Фірмові суші
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'maki'}" (click) = "openMaki()">
            Роли Макі
        </div>
        <div class="menu-roli-punkts" [ngClass]="{'menu-roli-punkts-active': selectedPathPart === 'premium'}" (click) = "openPremium()">
            Преміум Суші
        </div>
    </div>
    <div class="menu-product">
        <div style="min-width: 0; min-height: 0px;" *ngFor="let product of userProducts">
            <div class="card" *ngIf="selectedPathPart === null || product.path.includes(selectedPathPart)">
                <img [routerLink]="[ '/product/'+product.category.path, product.id ]" [src]="product.imagePath"
                    class="img-top" [alt]="product.name">
                <div>
                    <h5 [routerLink]="[ '/product/'+product.category.path, product.id ]" class="card-title">{{
                        product.name }}</h5>
                    <div class="item-card">
                        <p *ngIf="product.category.path === 'sousi' || product.category.path === 'drinks' ; else otherPath"
                            class="card-text"></p>
                        <ng-template #otherPath>
                            <p class="card-text">{{ product.description }}</p>
                        </ng-template>
                        <h4 class="card-weight">{{ product.weight }} г</h4>
                    </div>
                    <div class="bottom-item">
                        <h4 class="card-price">{{ product.price }} грн</h4>
                        <div class="manageCount">
                            <button type="button" class="btnMinus">-</button>
                            <input class="countProduct" type="text" value="1" style="width: 40px;">
                            <button type="button" class="btnAdd">+</button>
                        </div>
                        <a class="btnOrder">Замовити</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text">
        <h1>Суші у Львові</h1>
        <p>Зголодніли? Доставка суші у Львові від Monosushi — це чудовий вибір! Філадельфія, Каліфорнія, Зелений Дракон,
            авторські запечені роли — різноманітне та смачне меню чекає саме на вас. Ми знаємо, як задовільнити примхи
            навіть найвибагливіших гурманів. Готуємо смачно, доставляємо швидко, пропонуємо акції та знижки!</p>
        <h2>Швидка та безкоштовна швидка доставка суші у Львові</h2>
        <p>шаленому ритмі сучасного життя не хочеться витрачати час на приготування їжі. Саме тому, доставка ролів — це
            чудова ідея! Незалежно від нагоди та погоди за вікном, смачні суші піднімуть настрій. На обід, вечерю,
            романтичне побачення чи домашню вечірку — замовити роли можна з будь-якої нагоди. <br><br> Просто оберіть
            суші з меню, а про майстерне приготування та швидку доставку в будь-який куточок міста подбаємо ми!</p>
        <h2>Найкраще меню суші у Львові</h2>
        <p>Ми знаємо, що вподобання у всіх — різні. Але у нашому меню на вас чекають роли та сети на будь-який смак.
            <br><br>У нас ви можете обрати класичні холодні суші: Філадельфія з лососем, Каліфорнія з вугрем, Зелений
            Дракон. А також спробувати фірмові запечені роли, які нікого не залишать байдужими.
            <br><br>Сети суші від Моносуші — чудовий вибір для компанії. Апетитні набори ролів поєднують різні смаки та
            види ролів, щоб ви могли по-справжньому насолоджуватися.
        </p>
        <h2>Чому варто замовити суші в Monosushi?</h2>
        <p>Ми любимо суші та справді добре їх готуємо! Замовити суші у Львові від Monosushi — це чудова ідея. Адже наша
            доставка гарантує:</p>
        <ul>
            <li><span>Високу якість. Тільки найкращі роли за рецептами від шефа та добірні інгредієнти — наше правило.
                    Водорості норі, лосось, вугор, ікра, кунжут — все це та багато іншого ми купуємо лише в перевірених
                    постачальників.</span></li>
            <li><span>Асортимент на різний смак. Ми пропонуємо страви на різні смаки: класичні роли, авторські суші,
                    великі
                    сети на компанії. Все це в наявності завжди.</span></li>
            <li><span>Швидкість доставки. Забудьте про тривале очікування: улюблені суші будуть на вашому столі вже за
                    60
                    хвилин.</span></li>
        </ul>
        <p>Для наших гостей ми смачно готуємо, швидко доставляємо по Львову та пропонуємо найвигідніші ціни. Обирайте
            Monosushi та насолоджуйтеся!</p>
        <button (click)="showMoreBut()" id="showMoreBut">Дізнатися більше</button>
        <hr>
        <div class="sub-text" *ngIf="showMore">
            <h2>Найпоширеніші запитання про доставку суші</h2>
            <p><b>Скільки часу очікувати на доставку?</b></p>
            <p>Доставка суші у Львові Monosushi працює дуже швидко: всього 1 година у зеленій зоні та 1,5 год у жовтій
                зоні.</p>
            <p><b>Як я можу оплатити своє замовлення?</b></p>
            <p>Готівкою, онлайн при оформленні або карткою при отримані. Спосіб оплати замовлення ви можете обрати під
                час оформлення або повідомити нам телефоном.</p>
            <p><b>Чи можливий самовивіз?</b></p>
            <p>Так, звичайно. До самовивозу ми даруємо запечений рол моно макі. Ви можете забрати своє замовлення
                самостійно з точок самовивозу Monosushi: вул. Володимира Великого, 10в; вул. Чорновола, 95 вул. Зелена
                204б.</p>
            <p><b>Є знижки за невчасну доставку замовлення?</b></p>
            <p>Кур’єри завжди доставляють замовлення вчасно, але у разі запізнення ми обов’язково запропонуємо вам
                компенсацію. З переліком наших акцій, знижок та спеціальних пропозицій ви можете ознайомитися у
                відповідному розділі на сайті.</p>
            <p><b>Який у вас графік роботи?</b></p>
            <p>Ми працюємо з 11:00 до 22:30 кожного дня, без вихідних.</p>
            <button (click)="closeMoreBut()" id="closeMoreBut">Згорнути</button>
            <hr>
        </div>
    </div>